@font-face {
  font-family: "Bellota-Regular-webfont";
  src: url("/assets/fonts/Bellota-Regular-webfont.eot")format("eot"),
    url("assets/fonts/Bellota-Regular-webfont.ttf")format("ttf"),
    url("assets/fonts/Bellota-Regular-webfont.woff")format("woff");
}

$main-color:#15C5BD;
$secondary-color:#303030;
$hover-resalt-color:#01847E;
$main-text-color:#FFF;
$primary-font:'Bellota-Regular-webfont';

body {
  font-family: $primary-font;
}

#middlename {
  display: none;
}

header {
  background-color: $main-color;
  margin-bottom: 3em;
  margin-bottom: 0em;
}

section {
  background-color: $secondary-color;
  padding-top: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  color: $main-text-color;
}



form {
  color: $main-text-color;
}

.form-group {
  margin-bottom: 0.1rem;
}

.btn-primary {
  background-color: $main-color;
  border-color: $main-color;
  margin: 1em;
}

.btn-primary:hover {
  background-color: $hover-resalt-color;
  border-color: $hover-resalt-color;
}
